---
import aboutImg from "@/assets/me_bear_mtn_small.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "This is all about me",
	title: "About",
};
---

<PageLayout meta={meta}>
	<section class="space-y-5">
		<h1 class="title">         </h1>

	</section>
</PageLayout>
